
.input-group{
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media ($screen-md-min) {
        width: 50%;
    }
    @media ($screen-tablet-break) {
        width: 70%;
    }
    @media ($screen-sm-max) {
        width: 100%;
    }
    &.input-group-modal {
        width: 100%;

    }
    input {
        height: 35px;
        margin: 0 0 15px;
        padding: 5px 10px;
        font-size: 16px;
        border: 1px  solid #999;
        border-radius: 5px;
        outline: none;
        &:hover {
            border: 1px  solid $baseBg;
        }
    }
    &__user-name {
        width: 100%;
        display: inline-flex;
        @media ($screen-sm-min) {
            justify-content: space-between;
        }
        @media ($screen-sm-max) {
            flex-direction: column;
        }
        input {
            @media ($screen-sm-min) {
                width: 45%;
            }
        }
    }
    &__date-picker {
        display: inline-flex;
        @media ($screen-sm-min) {
            justify-content: space-between;
        }
        @media ($screen-sm-max) {
            flex-direction: column;
            align-items: center;
        }
        .react-datepicker-wrapper {
            display: inline-flex;
            @media ($screen-sm-min) {
                width: 45%;
            }
            @media ($screen-sm-max) {
                width: 100%;
            }
            input {
                width: 90%;
            }
        }
    }
    .react-datepicker__day--selected {
        background-color: $baseBg;
    }
    .user-edit & .input-group__date-picker{
        .react-datepicker-wrapper {
            display: inline-flex;
            @media ($screen-sm-min) {
                width:  100%;
            }
            @media ($screen-sm-max) {
                width: 100%;
            }
            input {
                width: 96%;
            }
        }
    }
    &__description {
        height: 120px;
        margin: 0 0 15px;
        padding: 5px 10px;
        font-size: 16px;
        border: 1px  solid #999;
        border-radius: 5px;
        outline: none;
        &:hover {
            border-color: $baseBg;
        }
        @media ($screen-sm-min) {
            width: 95%;
        }
        @media ($screen-sm-max) {
            width: 90%;
        }
    }
    &__passwords {
        width: 100%;
        display: inline-flex;
        @media ($screen-sm-min) {
            justify-content: space-between;
        }
        @media ($screen-sm-max) {
            flex-direction: column;
        }
        input {
            @media ($screen-sm-min) {
                width: 45%;
            }
        }
    }
    &__checkbox {
        margin: 0 0 15px;
        &_label{
            color: #6c757d;
        }
        .pretty.p-default:not(.p-fill) input:checked ~ .state.p-success-o &_label:after {
            background-color: #228074 !important;
        }
        .pretty.p-default:not(.p-fill) input:checked ~ .state.p-success-o &_label:before {
            border-color: #31af91 !important;
        }
    }
}
.react-datepicker__input-container {
    display: inline-flex !important;
}
.input-group-modal {
    .input-group__user-name {
        @media ($screen-sm-min) {
            flex-direction: column;
            justify-content: flex-start;
        }
        @media ($screen-sm-max) {
            flex-direction: column;
        }
        input {
            @media ($screen-sm-min) {
                width: auto;
            }
        }
    }
    .user-edit & .input-group__date-picker{
        .react-datepicker-wrapper {
            input {
                width: 100%;
            }
        }
    }
}