.success-btn {
    width: 100%;
    height: 35px;
    margin: 0 auto;
    color: $baseLightColor;
    font-size: 16px;
    border: none;
    border-radius: $baseBorderRadius;
    background: linear-gradient(270deg,#2caf92,#1e6d68);
    outline: none;
    &:hover {
        cursor: pointer;
        background: linear-gradient(90deg,#20776f,#33cca5);
        box-shadow: 0 6px 10px 0 rgba(48,187,154,.35);
    }
}
.delete-btn {
    width: 100px;
    height: 35px;
    color: $baseLightColor;
    font-size: 16px;
    border: none;
    border-radius: $baseBorderRadius;
    background-color: #bc2a26;
    outline: none;
    &:hover{
        cursor: pointer;
        background-color: #ad2824;
    }
}
.default-btn {
    width: 100px;
    height: 35px;
    color: $baseLightColor;
    font-size: 16px;
    border: none;
    border-radius: $baseBorderRadius;
    background-color: #999999;
    outline: none;
    &:hover{
        cursor: pointer;
        background-color: #7c7c7c;
    }
}
.back-btn {
    width: 75px;
    margin: 15px 0;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    color: $baseColor;
    text-decoration: none;
    font-family: $fontPoppins;
    border: 1px solid $baseColor;
    border-radius: $baseBorderRadius;
    &:hover {
        color: $baseLightColor;
        background-color: $baseColor;
    }
}
.btn-link {
     position: absolute;
     right: 0;
     &__edit {
         width: 20px;
         padding: 10px 8px;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         background-color: #57bea5;
         border-radius: 50px;
         &:hover{
             cursor: pointer;
             box-shadow: 0 6px 10px 0 rgba(48,187,154,.35);
         }
     }
 }
