.cabinet {
    .container {
        display: flex;
        @media ($screen-sm-min) {
            justify-content: space-between;
        }
        @media ($screen-sm-max) {
            flex-direction: column;
        }
    }
}