@import 'fonts/font-families.scss';
@import 'config/vars.scss';
@import 'config/global.scss';
@import '../blocks/Buttons/buttons.scss';
@import '../blocks/Inputs/inputs.scss';
@import '../blocks/Footer/footer.scss';
@import '../blocks/Header/header.scss';
@import '../portals/modal.scss';
@import '../blocks/Loader/loader.scss';