.list-vacations {
    &__vacation {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
        .dates {
            display: inline-flex;
            justify-content: space-between;
            @media ($screen-md-min) {
                width: 31%;
            }
            @media ($screen-tablet-break) {
                width: 50%;
            }
            @media ($screen-mobile-break) {
                width: 50%;
            }
            @media ($screen-xs-max) {
                width: 80%;
                justify-content: space-between;
                font-size: 14px;
            }
        }
        .buttons {
            display: inline-flex;
            @media ($screen-md-min) {
                width: 20%;
            }
            @media ($screen-tablet-break) {
                width: 30%;
            }
            @media ($screen-mobile-break) {
                width: 30%;
            }
            @media ($screen-xs-min) {
                justify-content: space-between;
            }
            @media ($screen-xs-max) {
                flex-direction: column;
            }
        }
    }
}
