.react-spinner-loader-svg {
    position: absolute;
    width: 99%;
    height: 94%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff7a;
}
.loader-show {
    display: flex;
}
.loader-hidden {
    display: none;
}

.react-spinner-loader-svg {
    svg{
        transform-origin: 50% 65%;

        polygon {
            stroke-dasharray: 17;
            animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
        }
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}